@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply lg:text-3xl font-bold text-2xl;
  }
  li {
    @apply p-5 lg:p-0;
  }

  .main-nav {
    @apply h-16 fixed w-full z-10 text-white md:text-white px-2 md:px-7 flex justify-between items-center;
  }
  .mobile-nav {
    @apply absolute w-full;
  }
}

body {
  font-family: "Poppins", sans-serif;
}

li {
  cursor: pointer;
  list-style: none;
  font-weight: bold;
  font-size: 0.95rem;
}

.nav-color-change {
  background-color: #191c25;
  transition: all 250ms ease;
  padding: 10px 30px;
}
input {
  border: none;
  outline: none;
  background: transparent;
}

.tours {
  background: #f8f8f8;
}
